 <div class="post" data-height="{{height}}" data-position="{{position}}" data-location="{{location}}">
   <div class="post-contents">
     <div class="post-image-container">
       <img src="{{photoURL}}" alt="{{description}}">
     </div>
     <div class="post-info-container">
       <a href="/posts/{{description}}" class="post-title">{{description}}</a> <span class="post-position">({{position}})</span>
     </div>
   </div>
</div>
